<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
<%- include('include/_header')%>

<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left"></i>All Users</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update User</h2>
            <span class="text-light">Use the below form to Update an account</span>
        </div>
        
    </div>
    <form method="POST" action="/api/users/<%= user._id %>?_method=PUT" id="update_user">
        <div class="new_user">
            <div class="form-group">
                <label for="name" class="text-light">Name</label>
                <input type="hidden" name="id" value="<%= user._id %>">
                <input type="text" name="name" value="<%= user.name %>" placeholder="enter your name">
            </div>
            <div class="form-group">
                <label for="Email" class="text-light">Email</label>
                <input type="text" name="email" value="<%= user.email %>" placeholder="example@email.com">
            </div>
            <div class="form-group">
                <label for="gender" class="text-light">Gender</label>
                <div class="radio inline">
                    <input type="radio" id="radio-2" name="gender" value="Male" <%= user.gender=='Male'?'checked':'' %>>
                    <label for="radio-2" class="text-light">Male</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-3" name="gender" value="Female" <%= user.gender=='Female'?'checked':'' %>>
                    <label for="radio-3" class="text-light">Female</label>
                </div>
            </div>
            <div class="form-group">
                <label for="status" class="text-light">Status</label>
                <div class="radio inline">
                    <input type="radio" id="radio-4" name="status" value="Active" <%= user.status=='Active'?'checked':'' %>>
                    <label for="radio-4" class="text-light">Active</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-5" name="status" value="Inactive" <%= user.status=='Inactive'?'checked':'' %>>
                    <label for="radio-5" class="text-light">Inactive</label>
                </div>
            </div>
    
            <div class="form-group">
                <button type="submit" class="btn text-dark update">Save</button>
            </div>
        </div>
    </form>
</main>

<%- include('include/_footer')%>
</body>
</html>